<div class="container">

        <br>

        <div class="row">
                <div class="col-lg-6 col-sm-6">
                        <h2> Detalhes do usuário</h2>
                </div>
                
        </div>

        <br>

        <div class="row">
                <div class="col-lg-12 col-sm-12">
                        <table class="table Atable-bordered">
                                <thead>
                                        <tr>
                                                <th>Coluna</th>
                                                <th>Informação</th>
                                                
                                        </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                                <td>Nome</td>
                                                <td>{{usuario.name}}</td>
                                        </tr>
        
                                        <tr>
                                                <td>Telefone</td>
                                                <td>{{usuario.phone}}</td>
                                        </tr>
                                        <tr>
                                                <td>Site</td>
                                                <td>{{usuario.website}}</td>
                                        </tr>
                                        <tr>
                                                <td>Nome da empresa</td>
                                                <td>{{usuario.company.name}}</td>
                                        </tr>
                                        <tr>
                                                <td>Mapa: Latitude / Longitude </td>
                                                <td>{{lat}} / {{lng}}</td>
                                        </tr>
                                        <tr>
                                                <td>Mapa do enderco do usuario </td>
                                        </tr>
                                </tbody>
                        </table>

                        <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                </div>
        </div>
</div>